.nav-btn {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #777;
  position: relative;
  display: block;
  border:none;
  background-color: transparent;
  line-height: 20px;
  cursor: pointer;
}
